.item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #f7f5ef;
}

.item button {
  color: #f00;
  border: none;
  background: none;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}
